<form id="frm_create_category" name="categoryCreateForm" novalidate>
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            <span>@L("CreateCategory")</span>
        </h4>
    </div>
    <div class="modal-body">
        <uib-tabset class="tab-container tabbable-line">
            <uib-tab heading="分类详情">
                <div class="row clearfix" style="margin-top:10px;">
                    <div class="col-sm-12">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input id="categoryName" type="text" name="CategoryName" ng-model="vm.category.categoryName" required maxlength="32" minlength="2" class="validate form-control">
                                <label for="categoryName" class="form-label">@L("CategoryName")</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input id="industryCode" type="text" name="IndustryCode" ng-model="vm.category.industryCode" required maxlength="32" class="validate form-control">
                                <label for="industryCode" class="form-label">@L("IndustryCode")</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input id="shortName" type="text" name="ShortName" ng-model="vm.category.shortName" maxlength="256" class="validate form-control">
                                <label for="shortName" class="form-label">@L("ShortName")</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input id="sort" type="text" name="Sort" ng-model="vm.category.sort" required maxlength="32" class="validate form-control">
                                <label for="sort" class="form-label">@L("Sort")</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="form-group form-float">
                            <div class="">
                                <input id="isactive" type="checkbox" name="IsActive" ng-model="vm.user.isActive" checked class="form-control" />
                                <label for="isactive" class="form-label">@L("IsActive")</label>
                            </div>
                        </div>
                    </div>
                </div>
            </uib-tab>
        </uib-tabset>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" ng-click="vm.cancel()">
            @L("Cancel")
        </button>
        <button type="submit" class="btn btn-primary waves-effect" ng-click="vm.save()" ng-disabled="userCreateForm.$invalid">
            @L("Save")
        </button>
    </div>

</form>