<div class="row clearfix" ng-controller="app.views.product.editProduct as vm">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card main-content">
            <div class="header">
                <h2>
                    @L("EditProduct")
                </h2>
            </div>
            <div class="form" style="margin: 20px">
                <form id="form_edit_product" url="@Url.Action("UpdateProduct","Product")" name="productCreateForm" class="form-horizontal form-bordered bordered" novalidate>
                    @Html.AntiForgeryToken()
                    <div class="form-body">
                        <div class="form-group">
                            <label class="control-label col-md-2">标题</label>
                            <div class="col-md-4">
                                <div class="input-icon right" style="float:none !important">
                                    <input id="name" class="hasInputBorder form-control " name="name" type="text" ng-model="vm.product.title" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">类目</label>
                            <div class="col-md-4">
                                <div class="input-icon right" style="float:none !important">
                                    <select ng-model="selectedCategory">
                                        <option value="0" selected="selected">选择类目</option>
                                        <option ng-repeat="x in vm.categoryList" value="{{x.id}}">{{x.categoryName}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">所属企业ID</label>
                            <div class="col-md-4">
                                <div class="input-icon right" style="float:none !important">
                                    <input id="companyId" class="hasInputBorder form-control " name="companyId" type="text" ng-model="vm.product.companyId" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">上传图片</label>
                            <div class="col-md-6">
                                <div>
                                    <div style="float: left;width: 80px; height: 80px;position: relative" class="thumbUploaded logoExist" ng-repeat="url in vm.product.imgUrls.split(',')" onclick="javascript: $('#uploadFile').click();" ng-show="vm.product.imgUrls.length>0">
                                        <div class="thumb-icon">
                                            <a href="javascript:void(0);" ng-click="vm.removeImg(url);$event.stopPropagation();"><i class="material-icons">remove_circle_outline</i></a>
                                        </div>
                                        <img ng-src="{{url}}" style="width: 80px;height: 80px" />
                                    </div>


                                    <div ng-repeat="item in fileUploader.queue" style="float: left" class="thumbUploaded" ng-click="vm.delImg()">
                                        @*                                        <label>*@
                                        @*                                            <img ng-src="item.file.name" />*@
                                        @*                                        </label>*@
                                        @*<span ng-if="item.imgSrc" ng-click="img_del($index)"></span>*@
                                        <div ng-thumb="{file:item._file, height: 80,width:80}"></div>
                                    </div>
                                    <div style="clear: both; padding: 10px 0" id="uploadDiv">

                                        <label>
                                            <img class="thumbDefault" onclick="javascript: $('#uploadFile').click();" />
                                        </label>
                                        <input type="file" nv-file-select multiple="" filters="imageFilter" id="uploadFile" uploader="fileUploader" ng-show="false" />
                                    </div>
                                    <div style="clear: both; padding: 10px 0">已选择：{{ fileUploader.queue.length }}</div>


                                </div>

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">产品描述</label>
                            <div class="col-md-4">
                                <div class="input-icon right" style="float:none !important">
                                    @*                                    <input id="name" class="hasInputBorder form-control" name="name" type="text" value="" />*@
                                    <textarea cols="80" rows="10" style="padding:12px" ng-model="vm.product.detail"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">审核状态</label>
                            <div class="col-md-4">
                                <div class="btn-group btn-group-devided" data-toggle="buttons">
                                    <label class="btn yellow-gold" ng-class="vm.verify==0?'active':''" value="0">
                                        <input type="radio" name="verifyStatus"> 待审核
                                    </label>
                                    <label class="btn yellow-gold" ng-class="vm.verify==1?'active':''" value="1">
                                        <input type="radio" name="verifyStatus"> 已通过
                                    </label>
                                    <label class="btn yellow-gold" ng-class="vm.verify==2?'active':''" value="2">
                                        <input type="radio" name="verifyStatus"> 未通过
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">发布状态</label>
                            <div class="col-md-4">
                                <div class="btn-group btn-group-devided" data-toggle="buttons">
                                    <label class="btn yellow-lemon" ng-class="vm.release==0?'active':''" value="0">
                                        <input type="radio" name="releaseStatus"> 未发布
                                    </label>
                                    <label class="btn yellow-lemon" ng-class="vm.release==1?'active':''" value="1">
                                        <input type="radio" name="releaseStatus"> 已发布
                                    </label>
                                    <label class="btn yellow-lemon" ng-class="vm.release==2?'active':''" value="2">
                                        <input type="radio" name="releaseStatus"> 已下线
                                    </label>
                                    <label class="btn yellow-lemon" ng-class="vm.release==3?'active':''" value="3">
                                        <input type="radio" name="releaseStatus"> 已过期
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" form-actions">
                        <div class="row">
                            <div class="col-md-offset-2 col-md-10">
                                <button type="button" class="btn gray " ng-click="vm.cancel()">
                                    @L("Cancel")
                                </button>
                                <button type="submit" class="btn green" ng-click="vm.save()" ng-disabled="productCreateForm.$invalid">
                                    @L("Save")
                                </button>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
